<div id="chat-area">

<div class="chat-box">
<ul id="messages"></ul>
<form id="chat-form" action="">
  <input id="input" autocomplete="off" /><button>Send</button>
</form>
</div>

<% if (cookie.userType === 'admin') { %>
<div class="chat-box">
  <ul id="messages"></ul>
  <form id="chat-form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>
  </div>
<% } %>

</div>