<div id="chat-area">

<div class="chat-box">
<ul id="messages"></ul>
<form id="chat-form" action="">
  <input id="input" autocomplete="off" /><button>Send</button>
</form>
</div>

<% console.log("usertype is.....", cookie.userType) %>
<div class="chat-box">
  <ul id="messages"></ul>
  <form id="chat-form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>
  </div>

</div>