    <!-- Show chatbox if logged in -->
    <div id="chat-area">
      <% if (cookie.userType !==undefined) { %>
        <button type="button" id="toggle-chat"><i class="fas fa-chevron-down" id="toggle-icon"></i></button>
        <% if (cookie.userType==='admin' ) { %>
          <button type="button" id="change-user">Switch Room</button>
          <% } %>
            <div class="chat-box">
              <ul id="messages"></ul>
              <div id="chat-bottom">
                <form id="chat-form" action="">
                  <input id="input" autocomplete="off" placeholder="Type a message..." />
                  <button type="submit" id="chat-button">Send</button>
                </form>
              </div>
            </div>
            <% } %>
    </div>