<nav>
  <span>
    <a id="logo" href="/">VHS DREAMS</a>
  </span>
  <% if (!cookie.userType) { %>
    <span>
      <a class="loginButtonStyling" href="/login">Login</a>
    </span>
    <% } else { %>
      <span class="loggedInAs">
        <% if (cookie.userType==="user" ) { %>
          <p>Logged in as: USER</p>
          <a class="favouritesButtonStyling" href="/favourites">My Favourites</a>
          <% } %>

            <% if (cookie.userType==='admin' ) { %>
              <p>Logged in as: ADMIN</p>
              <a class="addMovieButtonStyling" href="/addMovie">Add Movie</a>
              <% } %>
                <a class="loginButtonStyling" href="/logout">Logout</a>
      </span>
      <% } %>
        </span>
</nav>