<nav>
  <span>
    <a id="logo" href="/">Movie Site</a>
  </span>
  <% if (!cookie) { %>
    <span>
      <a class="loginButtonStyling" href="/login">Login</a>
    </span>
  <% } else { %>

    <span class="loggedInAs">
      <% if (cookie==="userType=user") { %>
        <p>Logged in as: USER</p>
      <% } %>
  
      <% if (cookie==="userType=admin") { %>
        <p>Logged in as: ADMIN</p>
        <a class="addMovieButtonStyling" href="/addMovie">Add Movie</a>
      <% } %>
      <a class="loginButtonStyling" href="/logout">Logout</a>
    </span>
  <% } %>
  </span>
</nav>