// --- Colour palette --- //
$primary-color: #893a6c;
$secondary-color: #e6ab71;
$tertiary-color: #ecda77;

$background-color: #e3d4cb;
$highlight-background-color: #ebe9e8;

$font-primary: #fbf9ec;
$font-secondary: #17181c;

$vhs: #3b3b3d;

$special-color: #c63047;
$mega-color: #816841;

$special-color-hover: #f0586f;
// $special-color-hover: #ff7268;