// --- Colour palette --- //
$primary-color: #893a6c;
$secondary-color: #e6ab71;
$tertiary-color: #ecda77;

$background-color: #e3d4cb;
// $border-color: #545149;

$font-primary: #fbf9ec;
$font-secondary: #17181c;

$special-color: #c63047;
$mega-color: #17181c;
// $special-color-hover: #ff7268;