@use "base";

#chat-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 300px;
  background-color: base.$font-secondary;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chat-box {
  display: flex;
  flex-direction: column;
  background-color: base.$background-color;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-height: 400px; 
  min-height: 400px;
  margin-top: 3px;
}

#messages {
  list-style: none;
  margin: 0;
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1; 
}

#chat-bottom {
  padding: 10px;
  display: flex;
  align-items: center;
}

li {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 15px; 
  background-color: #fff; 
  border: 1px solid #ddd;
}

#chat-form {
  display: flex;
  width: 100%;
}

#input {
  flex-grow: 1; 
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 20px; 
  margin-right: 10px; 
  font-size: 14px;
}

#chat-button {
  background-color: base.$special-color;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px; 
  cursor: pointer;
  font-size: 14px;
}

#chat-button:hover {
  background-color: base.$special-color-hover;
}

#chat-button:active {
  background-color: base.$mega-color;
}

#change-user {
  background-color: base.$primary-color;
  color: white;
  width: 50%;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 5px;
}

#change-user:hover {
  background-color: base.$secondary-color;
}

#change-user:active {
  background-color: base.$tertiary-color;
}

#toggle-chat {
  background-color: base.$primary-color;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 5px;
  margin-right: 20px;
}

#toggle-chat:hover {
  background-color: base.$secondary-color;
}