//For customizing the elements inside of the header

#searchBarStyling {
  display: flex;
  font-size: large;
}

#advanced_features {
  font-size: medium;
}

#sort_by {
  width: 110px
}

#max_price {
  width: 50px
}

#year {
  width: 70px
}

#min_quality {
  width: 50px
}