@use "base";

//Controls layout of the Nav
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 66px;
  color: base.$font-primary;
  background-color: base.$font-secondary;
  top: 0;
}


//Controls the layout of the header
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

#search-button {
  font-size: 20px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
  margin-left: 7px;
  border-radius: 1.5rem;
  color: white;
  background-color: base.$primary-color;
  border-style: none;
  text-decoration: none;
}

#search-button:hover {
  background-color: base.$secondary-color;
  cursor: pointer;
}

#search-button:active {
  background-color: base.$tertiary-color;
  cursor: pointer;
}