@use "base";

//Controls layout of the Nav
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 66px;
  color: base.$font-primary;
  background-color: base.$font-secondary;
  top: 0;
}


//Controls the layout of the header
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
