@use "base";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: base.$background-color;
  font-size: 1rem; 
  font-weight: 300;
  font-family: "Source Sans 3", sans-serif;
  overflow-x: hidden;
}

main {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 1.25rem; /* 20px as 1.25rem based on 16px base font size */
  width: 80vw;
  height: 100vh;
}

.product-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: max-content;
  gap: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.product-item {
  background-color: base.$vhs;
  padding: 10px;
  width: 225px;
  height: 375px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleStyling {
  margin: 0;
  padding: 5px;
  color: base.$font-primary;
}

.product-item:hover {
  box-shadow: 10px 10px 0px #040405;
  cursor: pointer;
}

.product-item-SOLD {
  background-color: base.$special-color;
  padding: 10px;
  width: 225px;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-item-SOLD:hover {
  box-shadow: 10px 10px 0px base.$font-secondary;
  cursor: pointer;
}

.heart-icon-form {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
}

.heart-icon-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: 24px; /* Adjust size as needed */
  color: base.$special-color; /* Heart icon color */
}

.heart-icon-button:hover {
  color: base.$secondary-color; /* Darken color on hover */
}

.grey-heart-icon-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: 24px;
  color: #999999;
}

.grey-heart-icon-button:hover {
  color: #cdcdcd;
}

#delete_button {
  background-color: #5c5c5c;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 9px 10px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 7px;

  &:hover {
    background-color: #919191;
  }

  &:active {
    background-color: #2e2e2e;
  }
}

#sold_button {
  background-color: base.$special-color;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 9px 10px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: base.$special-color-hover;
  }

  &:active {
    background-color: #771515;
  }
}

.movie-info {
  display: none;
  position: absolute;
  bottom: 0px; 
  left: 0px; 
  color: base.$font-primary;
  background-color: base.$font-secondary;
  padding: 10px; 
  font-size: large;
  width: 100%;
  z-index: 10;
}

.product-item:hover .movie-info {
  display: block;
}

.product-item-SOLD:hover .movie-info {
  display: block;
}

.rt_score {
  color: #299d13;
  font-weight: bold;
  font-size: large;
}

.movie-poster {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  position: relative;
}